@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Shrikhand&display=swap");
.room-page {
  padding-top: 56px;
  padding-bottom: 100px;
}
.room-page .container {
  max-width: 1140px;
}
.room-page h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #1a4301;
  margin: 0;
  margin-bottom: 32px;
}
